Repository ookkoouu/react-webext-menu: changes, and which lefthook commands are due for each by the changed paths.
All: format-src, format-other

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-src:
      glob: "*.{ts,tsx}"
      stage_fixed: true
      run: |
        npm run format
    format-other:
      glob: "*.{json,md,yml,yaml}"
      stage_fixed: true
      run: |
        npx prettier -w {staged_files}

fix: overhaul
  biome.json
  package-lock.json
  package.json
  src/elements/Checkbox.tsx
  src/elements/Normal.tsx
  src/elements/Radio.tsx
  src/elements/Separator.tsx
  src/elements/index.ts
  src/global.d.ts
  src/index.ts
  src/instance.ts
  src/jsx.d.ts
  src/mock.ts
  src/reconciler.ts
  src/render.ts
  src/types.ts
  src/utils.ts
  tsconfig.json
Due: format-src, format-other

feat: Add unmount
  src/render.ts
Due: format-src

docs: Update readme
  README.md
  media/demo.gif
Due: format-other

chore: Remove webextension-polyfill deps
  README.md
  package-lock.json
  package.json
Due: format-other

fix: Include `id` in props
  src/types.ts
Due: format-src

fix: Promisify `render`
  src/render.ts
Due: format-src

test: Add test
  lefthook.yml
  package-lock.json
  package.json
  test/mock.ts
  test/render.test.tsx
Due: format-src, format-other

chore: Update deps
  package-lock.json
  package.json
Due: format-other

ci: Add release workflow
  .github/workflows/publish.yml
Due: format-other

ci: Fix package content
  package.json
Due: format-other

chore: Add repository field
  package.json
Due: format-other
